.container {
  display: flex;
  margin: 0 auto;
  width: 60%;
  justify-content: space-between;
}
.container p {
  width: 175px;
  background-color: rgb(139, 157, 103);
  color: white;
  font-weight: 400;
  font-size: 24px;
  margin: 15px 10px;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
}
