.todoItem {
  display: flex;
  justify-content: left;
  position: relative;
  align-items: center;
  height: 50px;
  .aiFillStar {
    margin-right: 10px;
  }
  .emptyCircle {
    border: 4px solid rgb(114, 114, 114);
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
  .fillCircle {
    border: 4px solid rgb(114, 114, 114);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    .innerCircle {
      margin: auto;
      border: 4px solid rgb(114, 114, 114);
      border-radius: 50%;
      width: 9px;
      height: 9px;
      background-color: rgb(114, 114, 114);
    }
  }
  .category {
    color: black;
    font-size: 24px;
  }
  .title {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 500;
    color: rgb(122, 122, 122);
  }
  .removeIcon {
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  /* 모바일 */
  .todoItem {
    .aiFillStar {
      width: 24px;
    }
    .fillCircle {
      width: 12px;
      height: 12px;
      border: 3px solid rgb(114, 114, 114);
      .innerCircle {
        width: 4px;
        height: 4px;
        border: 1px solid rgb(114, 114, 114);
      }
    }
    .emptyCircle {
      width: 12px;
      height: 12px;
      border: 3px solid rgb(114, 114, 114);
    }
    .category {
      font-size: 14px;
    }
    .title {
      font-size: 14px;
    }
    .removeIcon {
      width: 16px;
      height: 16px;
    }
  }
}
