.todoItem {
  display: flex;
  justify-content: left;
  position: relative;
  align-items: center;
  height: 50px;
  .aiFillStar {
    margin-right: 10px;
  }
  .emptyCircle {
    border: 4px solid rgb(114, 114, 114);
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
  .fillCircle {
    border: 4px solid rgb(114, 114, 114);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    .innerCircle {
      margin: auto;
      border: 4px solid rgb(114, 114, 114);
      border-radius: 50%;
      width: 9px;
      height: 9px;
      background-color: rgb(114, 114, 114);
    }
  }
  p {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 500;
    color: rgb(122, 122, 122);
  }
  .removeIcon {
    position: absolute;
    right: 0;
  }
}
