@import './common.module';

@mixin green-button($width, $height, $font-size) {
  background-color: $light-green;
  color: white;
  border: 0;
  border-radius: 6px;
  width: $width;
  height: $height;
  font-size: $font-size;
  cursor: pointer;
}

@mixin green-input($width, $height) {
  width: $width;
  border: 2px solid rgb(114, 176, 71);
  border-radius: 10px;
  height: $height;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 24px;
  &::placeholder {
    color: rgb(171, 171, 171);
  }
  &:focus::placeholder {
    color: transparent;
  }
}
