.header_container {
  width: 512px;
  /* height: 50px; */
  background-color: #f9ecd9;
  text-align: center;
}
.header_container h1 {
  font-family: 'Kanit', sans-serif;
  color: #88b14b;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 500;
}
