.container {
  background-color: #8b9d68;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}

.container p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  height: 100%;
  color: white;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
}
