* {
  font-family: 'Jua', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}
.container .form {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.container .title p {
  text-align: center;
  color: #a56931;
  font-size: 34px;
  font-weight: 700;
}

.container input {
  border: 3px solid #8b9d67;
  border-radius: 6px;
  height: 45px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
}
.container input::placeholder {
  color: #8b9d67;
}
.container input:focus::placeholder {
  color: transparent;
}

.container button {
  margin-bottom: 10px;
  background-color: #8b9d67;
  border: none;
  border-radius: 6px;
  height: 43px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
