.todoItem {
  display: flex;
  justify-content: center;
}
.todoItem p {
  margin-left: 10px;
  width: 420px;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Jua', sans-serif;
  border-bottom: 3px solid #cfc69f;
  margin-top: 0px;
}
.icon {
}
