.todoItem {
  display: flex;
  justify-content: center;
  position: relative;
}
.todoItem p {
  padding-left: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 390px;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Jua', sans-serif;
  border-bottom: 3px solid #cfc69f;
  margin-top: 0px;
}
.removeIcon {
  position: absolute;
  right: 30px;
  transition: all ease 0.4s;
  opacity: 0;
}
.removeIcon:hover {
  opacity: 1;
}
