.container {
  background-color: #f9ecd9;
  display: flex;
  justify-content: center;
}
.container p {
  background-color: #e3dcc0;
  width: 75px;
  font-weight: 600;
  font-size: 16px;
  margin: 15px 10px;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
